// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Vue multiselect
@import '~vue-multiselect/dist/vue-multiselect.min.css';

.multiselect__placeholder {
    display: inline !important;
}

.tags {
    margin-bottom: -5px;

    .multiselect__tag {
        padding-right: 10px;
        overflow: visible;
    }
}

.btn-tiny {
    padding: 0.05rem 0.5rem;
    font-size: 0.7875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
